* MariaDB is not currently supported because it cannot set a <code>DATETIME</code> column to <code>CURRENT_TIMESTAMP</code>.
For more information, see <a href="https://jira.mariadb.org/browse/MCOL-1039"> DATE / DATETIME should support CURRENT\_TIMESTAMP</a>
in the MariaDB ColumnStore documentation.
