---
title: PCF Event Alerts
owner: PCF Event Alerts
---

This documentation describes Event Alerts for Pivotal Cloud Foundry (PCF).

## <a id='overview'></a>Overview

The PCF Event Alerts service gives you the option to set up alerts for a variety of events. 
You can subscribe to notification topics that are monitored by publishers; 
a publisher is a PCF component that emits events.
You can send notifications using email, Slack, or webhook integration.

For example, you can subscribe to a topic from [PCF Healthwatch](http://docs.pivotal.io/pcf-healthwatch/1-2/index.html)
that sends a notification when the memory use on a specific VM reaches a certain percentage.

PCF Users with admin permissions can run event alert commands and subscribe to alerts. 
Admins can configure event alerts using the Cloud Foundry Command Line Interface (cf CLI) tool.

## <a id='features'></a>Key Features

* Send notifications by email to specific users and to distribution lists.
* Send notifications to Slack channels.
* Send notifications to a designated URL using webhooks.

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about PCF Event Alerts.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Tile version</td>
        <td>v1.0.0</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>April 6, 2018</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v2.1.x</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service (PAS) version(s)</td>
        <td>v2.1.x</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, and vSphere</td>
    </tr>
</table>

## <a id="feedback"></a>Feedback

If you have a feature request, questions, or information about a bug, please email
the [Pivotal Cloud Foundry Feedback](mailto:pivotal-cf-feedback@pivotal.io) list
or [pcf-event-alerts@pivotal.io](mailto:pcf-event-alerts@pivotal.io).
