---
title: PCF Event Alerts (Beta for Healthwatch Tile)
owner: PCF Event Alerts
---

This documentation describes Event Alerts for Pivotal Cloud Foundry (PCF).

## <a id='overview'></a>Overview

PCF Event Alerts is a service that reads events from the Loggregator Firehose and turns them into email notifications,
which it sends to CF users.

## <a id='features'></a>Key Features

The Event Alerts service enables you to:

* Send alert email to a specific CF user.
* Send alert email to users within a specific CF space.

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about PCF Event Alerts.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Tile version</td>
        <td>v1.1.0</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>March xx, 2018</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v2.1.x</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service (PAS) version(s)</td>
        <td>v2.1.x</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, and vSphere</td>
    </tr>
</table>

## <a id="reqs"></a>Requirements

PCF Event Alerts has the following requirements:

+ PAS v2.1.x deployed with the following:
  + `Email Notifications` enabled with SMTP server configured.
  + `Notifications Errand` and `Notifications UI Errand` run.
+ MySQL for Pivotal Cloud Foundry (PCF) v2.3 or later, or external MySQL credentials
+ Slack account (if you are using Slack integration)

## <a id="limitations"></a>Limitations

PCF Event Alerts has the following limitations:

+ Only sends email notifications on Healthwatch events.
+ Only sends emails to CF users.

## <a id="feedback"></a>Feedback

If you have a feature request, questions, or information about a bug, please email
[Pivotal Cloud Foundry Feedback](mailto:pivotal-cf-feedback@pivotal.io) list or send an email to `pcf-event-alerts at pivotal.io`.
