---
title: PCF Event Alerts 
owner: PCF Event Alerts
---

This documentation describes PCF Event Alerts.

## <a id='overview'></a>Overview

As a PCF admin, you may want to receive notifications about important events that occur on your system. 
The PCF Event Alerts service gives you the option to set up alerts for a variety of events.
You can use this service to subscribe to notification topics---notable events that might occur.
Notification topics are monitored by publishers---PCF components that emit events.
You can send these notifications using email, Slack, or webhook integration.

For example, you can subscribe to a topic from [PCF Healthwatch](http://docs.pivotal.io/pcf-healthwatch/1-2/index.html)
that sends a notification when the memory use on a specific VM reaches a certain percentage.

PCF users with admin permissions can run event alert commands and subscribe to alerts. 
Admins can configure event alerts using the Cloud Foundry Command Line Interface (cf CLI) tool.

## <a id='features'></a>Key Features

* Send notifications by email to specific users and to distribution lists.
* Send notifications to Slack channels.
* Send notifications to a designated URL using webhooks.

## <a id='publishers'></a>Supported Publishers

PCF Event Alerts v1.2.3 supports PCF Healthwatch as a publisher.
For general information about PCF Healthwatch, see [Pivotal Cloud Foundry Healthwatch](https://docs.pivotal.io/pcf-healthwatch/).

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about PCF Event Alerts.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Tile version</td>
        <td>v1.2.6</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>December 7, 2018</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v2.1.15 or later, v2.2.2 or later, and v2.3.x</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service (PAS) version(s)</td>
        <td>v2.1.x, v2.2.x, and v2.3.x</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Cloud Foundry Healthwatch version(s)</td>
        <td>v1.3.x</td>
    </tr>
    <tr>
        <td>MySQL</td>
        <td>MySQL 5.7+ or MySQL for PCF v2.0+</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, and vSphere</td>
    </tr>
</table>

## <a id="feedback"></a>Feedback

If you have a feature request, questions, or information about a bug, please email
the [Pivotal Cloud Foundry Feedback](mailto:pivotal-cf-feedback@pivotal.io) list
or [pcf-event-alerts@pivotal.io](mailto:pcf-event-alerts@pivotal.io).
