---
title: Event Alerts documentation
owner: Event Alerts
---

<p class="note important">
  <strong>Important:</strong> Event Alerts is no longer supported. This documentation
  has been archived.
</p>
<br>

As an admin, you might want to receive notifications about important events that occur on your system.
The Event Alerts service gives you the option to set up alerts for a variety of events.
You can use this service to subscribe to notification topics---notable events that might occur.
Notification topics are monitored by publishers---Tanzu Application Service for VMs components that emit events.
You can send these notifications using email, Slack, or webhook integration.
