---
title: PCF Event Alerts Plugin (Beta)
owner: PCF Event Alerts
---

This topic describes how to install and use Pivotal Cloud Foundry (PCF) Event Alerts plugin
for the cf Command Line Interface (CLI) tool.

##<a id='purpose'></a> Purpose

The PCF Event Alerts plugin is in beta and is currently under development.

The CLI plugin can be used to subscribe to topics that are published by a variety of publishers such as Healthwatch.

##<a id='installing'></a> Installing

Download and install the plugin from Pivotal Network.
It is currently only available to admins.
```
cf install-plugin <path-to-binary>
```

##<a id='uninstalling'></a> Uninstalling

```
cf uninstall-plugin event-alerts
```

##<a id='uninstalling'></a> Features

```
# To list all plugin commands
cf plugins | grep event-alerts

# Individual plugin command help
cf help <command>
```
