---
title: Release Notes for PCF Event Alerts
owner: PCF Event Alerts
---

These are release notes for PCF Event Alerts.

##<a id="ver"></a> v1.1.0

**Release Date:** April 25, 2018

### <a id="features"></a> Features

Features included in this release:

* Sends Slack and/or email notifications of events that [PCF Healthwatch](http://docs.pivotal.io/pcf-healthwatch/1-2/index.html) has alerted on.

### <a id="known"></a> Known Issues

No known issues for this release.
