---
title: Release Notes for PCF Event Alerts
owner: PCF Event Alerts
---
##<a id="ver-1-2-6"></a> v1.2.6

**Release Date: December 7, 2018**

### <a id="features126"></a> Features

New features and changes in this release:

* Maintenance update of the following product dependencies:
    * Flyway Command-line is now v5.2.1
    * Golang is now v1.11
    * CF CLI is now v6.40.1

### <a id="known126"></a> Known Issues

This release has the following issues:

* When saving the MySQL settings page with Azure-style usernames, for example,
  `userId@serverName`, you might see an error message saying use of the `@` character is not supported.
  Disregard this message.
  You are still able to authenticate.

<%= partial "mariadb-ki" %>

##<a id="ver-1-2-5"></a> v1.2.5

**Release Date: October 4, 2018**

### <a id="features125"></a> Features

Change in this release:

* PCF Event Alerts now uses `cflinuxfs3` as the default stack when available.

     `cflinuxfs2` is used when PCF Event Alerts is installed on an environment that does not have `cflinuxfs3`,
      for example, a PCF v2.2 environment.

### <a id="fixed125"></a> Fixed Issues

This release fixes the following issues:

* In earlier versions of PCF Event Alerts, the tile version in the tile metadata did not match the version of PCF Event Alerts.
  The version numbers now match.

* This version of PCF Event Alerts supports using BOSH DNS in conjunction
  with the IPsec Add-on for PCF when using an internal database.

### <a id="known125"></a> Known Issues

This release has the following issue:

* When saving the MySQL settings page with Azure-style usernames, for example,
  `userId@serverName`, you might see an error message saying use of the `@` character is not supported.
  Disregard this message.
  You are still able to authenticate.

<%= partial "mariadb-ki" %>

##<a id="ver-1-2-3"></a> v1.2.3

**Release Date: September 6, 2018**

### <a id="features123"></a> Features

New features and changes in this release:

* Added support for SMTP servers without authentication.
  Credentials are no longer required when configuring SMTP server settings.
  To connect to a SMTP server without authentication, leave the SMTP username
  and password fields empty.

* Escape characters are no longer required in configuration passwords.

* Maintenance update of the following product dependencies:
    * Flyway Command-line is now v5.1.4
    * Golang is now v1.10.3
    * Product stemcell is now Ubuntu Xenial v97.x

* Before using PCF Event Alerts v1.2.3, you must update any BOSH add-ons to support Xenial stemcells.
    For more information, see [Prerequisites](./installing.html#prereqs).
<p class="note breaking"><strong>Breaking Change: </strong>PCF Event Alerts v1.2.3 and later require a Xenial stemcell.
You must manually download and import a new stemcell into the Ops Manager Stemcell Library before deploying PCF Event Alerts.
Any automation you have set up to update your PCF Event Alerts deployments using Trusty stemcells might break.</p>

### <a id="fixed123"></a> Fixed Issues

This release fixes the following issue:

* External Azure MySQL databases and other cases where usernames contain the `@` symbol are now supported.

### <a id="known123"></a> Known Issues

This release has the following issue:

* When saving the MySQL settings page with Azure-style usernames, for example,
  `userId@serverName`, you might see an error message saying use of the `@` character is not supported.
  Disregard this message.
  You are still able to authenticate.
* When using PCF Event Alerts and BOSH DNS in conjunction with IPSec Add-On for PCF and an internal database, PCF Event Alerts will not function. This issue is fixed in PCF Event Alerts v1.2.5.
* The tile version in the tile metadata may not match the version of PCF Event Alerts. These version numbers are aligned as of PCF Event Alerts 1.2.5.

<%= partial "mariadb-ki" %>

##<a id="ver-1-2-1"></a> v1.2.1

**Release Date: July 17, 2018**

### <a id="features121"></a> Features

New features and changes in this release:

* To view Healthwatch topics, you must have [PCF Healthwatch v.1.3] (https://docs.pivotal.io/pcf-healthwatch) installed.

* Dependence on notifications has been removed.

* Email configuration is now an option.
  <p class="note"><strong>Note</strong>: Specifying email configuration settings is required if you want notifications sent by email.</p>
    For more information, see [Configure Email Notifications](installing.html#email_settings).

* All destination email addresses now receive validation messages.
  Before v1.2.1, if the notification email address was the same as the account creating the target, the email address was verified automatically.

### <a id="known121"></a> Known Issues

This release has the following issues:

* Users of Event Alerts v1.2.1 are required to use escape characters in configuration passwords.
  This is no longer required in Event Alerts v1.2.3 and later releases.

* When using an external Azure MySQL database or other databases
  where usernames contain the `@` symbol, authentication does not work.
  This issue is fixed in PCF Event Alerts v1.2.1.
* When using PCF Event Alerts and BOSH DNS in conjunction with IPSec Add-On for PCF and an internal database, PCF Event Alerts will not function. This issue is fixed in PCF Event Alerts v1.2.5.
* The tile version in the tile metadata may not match the version of PCF Event Alerts. These version numbers are aligned as of PCF Event Alerts 1.2.5.

<%= partial "mariadb-ki" %>

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
the drop-down list at the top of this page.
