---
title: Release Notes for PCF Event Alerts
owner: PCF Event Alerts
---

These are release notes for PCF Event Alerts.

<<<<<<< HEAD
<<<<<<< HEAD
##<a id="ver-1.2"></a> v1.2
=======
##<a id="ver-1-1-3"></a> v1.1.5
=======
##<a id="ver-1-1-5"></a> v1.1.5
>>>>>>> parent of b09e8af... Revert "Updated version numbers in ids"

**Release Date:** June 21, 2018

### <a id="fixes115"></a> Fixed Issues

This release fixes the following issue:

* Solves the issue of having an invalid UAA token and failing to install EVA.

### <a id="known115"></a> Known Issues

There are no known issues for this release.

<<<<<<< HEAD
##<a id="ver-1-1-3"></a> v1.1.4
>>>>>>> parent of 40c6187... Revert "1.1.5 RNs"

**Release Date:** June X, 2018
 
### Features
=======
##<a id="ver-1-1-4"></a> v1.1.4

**Release Date:** June 5, 2018

### <a id="fixes114"></a> Fixed Issues

This release fixes the following issue:

* Installation no longer fails when the Notifications client requires HTTPS.

### <a id="known114"></a> Known Issues

There are no known issues for this release.

##<a id="ver-1-1-3"></a> v1.1.3

**Release Date:** May 17, 2018

### <a id="features113"></a> Features
>>>>>>> parent of b09e8af... Revert "Updated version numbers in ids"

New features and changes in this release:

* In order to view Healthwatch topics, you must have Healthwatch v1.3 installed. (Need link to Healthwatch 1.3 docs)

* This release removes dependence on notifications.

* This release makes email configuration optional during installation.
  <p class="note"><strong>Note</strong>: Email notification is still required if you want notifications sent by email.</p> 

* All email addresses now receive messages confirming that they have been validated. Previously, if the email address provided was the same as the one used to create the target, the address would be verified automatically but no message was sent.

### Security Fixes


### Fixed Issues


### Known Issues
