---
title: Release Notes for PCF Event Alerts
owner: PCF Event Alerts
---

##<a id="ver-1-2-1"></a> v1.3.x

**Release Date: MMM XX, 2018**

### <a id="features130"></a> Features

New features and changes in this release:

* To view Healthwatch topics, you must have [PCF Healthwatch v.1.3] (https://docs.pivotal.io/pcf-healthwatch) installed.
* Dependence on notifications has been removed.
* Email configuration is now an option. 
  <p class="note"><strong>Note</strong>: Specifying email configuration settings is required if you want notifications sent by email.</p>
    For more information, see [Configure Email Notifications](installing.html#email_settings).   
* All destination email addresses now receive validation messages.
  Before v1.2.1, if the notification email address was the same as the account creating the target, the email address was verified automatically.

### <a id="known121"></a> Known Issues

There are no known issues for this release.

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from 
the drop-down list at the top of this page.
