---
title: Release Notes for PCF Event Alerts
owner: PCF Event Alerts
---

These are release notes for PCF Event Alerts.

##<a id="ver-1-1-3"></a> v1.1.3

**Release Date:** May 17, 2018

### <a id="fixed"></a> Fixed Issues

Issues fixed in this release:

* Notifications

### <a id="known"></a> Known Issues

No known issues for this release.

##<a id="ver"></a> v1.1.2

**Release Date:** April 25, 2018

### <a id="features"></a> Features

Features included in this release:

* Sends Slack and email notifications of events that [PCF Healthwatch](http://docs.pivotal.io/pcf-healthwatch/1-2/index.html) has alerted on.

### <a id="known"></a> Known Issues

* Notifications
