---
title: Release Notes for PCF Event Alerts
owner: PCF Event Alerts
---

These are release notes for PCF Event Alerts.

##<a id="ver-1.2"></a> v1.2

**Release Date:** June X, 2018
 
### Features

New features and changes in this release:

* In order to view Healthwatch topics, you must have Healthwatch v1.3 installed. (Need link to Healthwatch 1.3 docs)

* This release removes dependence on notifications.

* This release makes email configuration optional during installation.
  <p class="note"><strong>Note</strong>: Email notification is still required if you want notifications sent by email.</p> 

* All email addresses now receive messages confirming that they have been validated. Previously, if the email address provided was the same as the one used to create the target, the address would be verified automatically but no message was sent.

### Security Fixes


### Fixed Issues


### Known Issues
