---
title: Release Notes for PCF Event Alerts
owner: PCF Event Alerts
---

<%= modified_date %>
##<a id="ver-1-3-0"></a> v1.3.x

**Release Date: MMM XX, 2019**

### <a id="features130"></a> Features

New features and changes in this release:

### <a id="known130"></a> Known Issue

This release has the following issue:

+ **Deploy PCF Event Alerts Errand Fails:** If you have binary logging enabled, the **Deploy PCF Event Alerts** errand fails when `log_bin_trust_function_creators` is not set to `1`. If you do not resolve this issue, PCF Event Alerts is not deployed. For instructions on solving this issue, 
see [Deploy PCF Event Alerts Errand Fails](./troubleshooting.html#mysql). 

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
the drop-down list at the top of this page.
