---
title: Release Notes for PCF Event Alerts
owner: PCF Event Alerts
---

These are release notes for PCF Event Alerts.

##<a id="ver-1-1-6"></a> v1.1.6

**Release Date:** August 7, 2018

### <a id="features116"></a> Features

New features and changes in this release:

* Adds support for external Azure MySQL databases and other cases where usernames contain the '@' symbol
* Maintenance update of the following product dependencies:
    * Flyway Command-line now v.5.1.4
    * Golang now v1.10.3
    * Product stemcell now v3541

### <a id="known116"></a> Known Issues

* **[Known Issue]** when saving the MySQL settings page with Azure style usernames: 'userId@serverName'. 
This error can be ignored when deploying. If the MySQL verification error appears with non-Azure style usernames, 
it is most likely an issue with the configuration of the MySQL database connection details.

##<a id="ver-1-1-5"></a> v1.1.5

**Release Date:** June 28, 2018

### <a id="fixes115"></a> Fixed Issues

This release fixes the following issue:

* Solves the issue of having an invalid UAA token and failing to install EVA.

### <a id="known115"></a> Known Issues

* **[Bug Identified]** When using an external Azure MySQL database or other databases 
where usernames contain the '@' symbol, authentication will not work. This issue is fixed in PCF Event Alerts 1.1.6.

##<a id="ver-1-1-4"></a> v1.1.4

**Release Date:** June 5, 2018

### <a id="fixes114"></a> Fixed Issues

This release fixes the following issue:

* Installation no longer fails when the Notifications client requires HTTPS.

### <a id="known114"></a> Known Issues

* **[Bug Identified]** When using an external Azure MySQL database or other databases where usernames contain the '@' symbol, authenticating will not work. This is fixed in PCF Event Alerts 1.1.6.

##<a id="ver-1-1-3"></a> v1.1.3

**Release Date:** May 17, 2018

### <a id="features113"></a> Features

New features and changes in this release:

* PCF Event Alerts now uses its own client instead of other clients.
  This change has no user impact.

### <a id="known113"></a> Known Issues

* **[Bug Identified]** Some users are unable to install PCF Event Alerts when the Notifications client requires HTTPS. This issue is fixed in v1.1.4.
* **[Bug Identified]** When using an external Azure MySQL database or other databases where usernames contain the '@' symbol, authenticating will not work. This is fixed in PCF Event Alerts 1.1.6.

##<a id="ver"></a> v1.1.2

**Release Date:** April 25, 2018

### <a id="features"></a> Features

Features included in this release:

* Sends Slack and email notifications of events that [PCF Healthwatch](http://docs.pivotal.io/pcf-healthwatch/1-2/index.html) has alerted on.

### <a id="known"></a> Known Issues

* **[Bug Identified]** When using an external Azure MySQL database or other databases where usernames contain the '@' symbol, authenticating will not work. This is fixed in PCF Event Alerts 1.1.6.

