---
title: Monitoring and Troubleshooting PCF Event Alerts
owner: PCF Event Alerts
---

This topic describes how to monitor and troubleshoot Pivotal Cloud Foundry (PCF) Event Alerts.

##<a id='monitor'></a> Monitor PCF Event Alerts

PCF Event Alerts is deployed as an app in PCF. By default, this app is called `event-alerts` and is deployed in the `event-alerts` space within the `system` org.

To monitor the performance of PCF Event Alerts or to retrieve troubleshooting information, you can do one or more of the following:

* Use the Cloud Foundry Command Line Interface (cf CLI) to obtain logs for the `event-alerts` app.
  For more information, see [Application Logging in Cloud Foundry](https://docs.pivotal.io/pivotalcf/devguide/deploy-apps/streaming-logs.html). 
* Use the PCF Metrics service.
  For more information, see [PCF Metrics](https://docs.pivotal.io/pcf-metrics/index.html).
* Use the Metrics Forwarder for PCF service.
  The `event-alerts` app detects if you have an available instance of Metrics Forwarder for PCF,
  and transmits custom app metrics through Loggregator to the service.
  For more information, see [Metrics Forwarder for PCF](https://docs.pivotal.io/metrics-forwarder/).  

##<a id="scale"></a> Scale PCF Event Alerts

You might need to scale PCF Event Alerts to improve performance.

To scale PCF Event Alerts, perform the following steps:

1. Use the cf CLI to log in to your PCF deployment as an admin. For example:
	<pre class="terminal">$ cf login
	API endpoint: http<span>s:</span>//api.sys.cf-example.com
	Email> admin
	Password>
	</pre>
1. When prompted, select the `system` org and the `event-alerts` space.
1. Scale up the number of instances of the `event-alerts` app.
   Two instances should adequately handle most alerting workloads from PCF Healthwatch.
   For example:
	<pre class="terminal">$ cf scale event-alerts -i 2</pre>
	If you are running very large PCF deployments with frequent threshold events,
        you might need to increase the instance count above two. 

##<a id="reduce-notifications"></a> Reduce Notifications

If PCF Event Alerts is receiving frequent event notifications, you can do one or both of the following:

* Unsubscribe from alerts that have minimal action.
* Increase threshold values to supply better indicators for action.

For more information about unsubscribing from alerts and increasing threshold values, see [Using PCF Event Alerts](using.html). 
