---
title: Troubleshooting PCF Event Alerts
owner: PCF Event Alerts
---

This topic describes how to troubleshoot Pivotal Cloud Foundry (PCF) Event Alerts.

##<a id='overview'></a> Overview

PCF Event Alerts is deployed as a CF app. 
By default, this app is called `event-alerts` and is deployed in the `event-alerts` space within the `system` org.
The `event-alerts` app functions as a nozzle for the Loggregator Firehose and sends email 
notifications to both a user and space with information regarding matched events.

##<a id='metrics'></a> Event Alerts Metrics

Event Alerts has a metrics endpoint for troubleshooting at `https://event-alerts.{domain}/debug/metrics`.
For a full view of metrics across multiple instances of `event-alerts`, 
use the [App Metrics CF plugin](https://github.com/wfernandes/app-metrics-plugin).

The following table contains a subset of the Event Alerts app metrics:

<table class="nice">
  <tr>
    <th>Metric Name</th>
    <th>Description</th>
  </tr>
  <tr>
    <td><strong>nozzle.dropped</strong></td>
    <td>Event Alerts is dropping metrics from the Firehose to avoid reading too slowly. 
      If this number is increasing, increase the number of <code>event-alerts</code> instances.</td>
  </tr>
  <tr>
    <td><strong>notifier.dropped</strong></td>
    <td>CF Notifications is processing email requests slowly.</td>
  </tr>
  <tr>
    <td><strong>notifier.userEmails.failed</strong></td>
    <td>Event Alerts was unable to send an email to the user.</td>
  </tr>
  <tr>
    <td><strong>notifier.spaceEmails.failed</strong></td>
    <td>Event Alerts was unable to send an email to the space.</td>
  </tr>
  <tr>
    <td><strong>ingress.received</strong></td>
    <td>The total number of Firehose metrics received.</td>
  </tr>
  <tr>
    <td><strong>ingress.matched</strong></td>
    <td>The number of Firehose metrics corresponding to predefined events.</td>
  </tr>
</table>

<p class="note warning">
<strong>WARNING: </strong>
If an email cannot be sent to both the user and the space, the event is dropped without retrying.
</p>

##<a id="errors"></a> Troubleshooting Errors

You might experience the following when using Event Alerts.

###<a id="failed-communication"></a> Event Alerts is Unable to Communicate with CF Notifications

To verify this, check the `eva.notificationsStatus` app metric.
If the value is zero, the last attempt to communicate with CF Notifications failed.

###<a id="disconnected"></a> Event Alerts Repeatedly Disconnects from the Firehose

If Event Alerts is a slow consumer, Loggregator closes the Firehose connection. 
To mitigate this, increase the number of `event-alerts` instances.

###<a id="metrics-dropped"></a> Firehose Metrics are Dropped Before Reaching Event Alerts

Firehose metrics might be dropped before reaching Event Alerts due to the Firehose reliability. 
For information about configuring Loggregator, see the
[Loggregator Guide for Cloud Foundry Operators](https://docs.pivotal.io/pivotalcf/loggregator/log-ops-guide.html).
