---
title: Using PCF Event Alerts
owner: PCF Event Alerts
---

This topic describes how users receive Pivotal Cloud Foundry (PCF) Event Alerts.

##<a id='subscribe'></a> Send Notifications

To send notifications to a user for Healthwatch events, you must configure a user in the Alerting configuration. 
The default user is `admin`. 

If you want to send notifications to multiple users, you can add CF users to the configured space.
By default, this space is `event-alerts-users`.  

To add a user to a space, assign a space role to that user. 
For information on the roles, see [App Space Roles](https://docs.cloudfoundry.org/adminguide/cli-user-management.html#space-roles).

<p class="note"><strong>Note</strong>: With the default alert settings, the admin user receives all 
notifications twice. This is because the admin user account is the default user for notifications, 
and is also used to create the space for paging and is, therefore, a user in that space. 
</p>

For more information about alerting settings, see [(Optional) Configure Alerting Settings](installing.html#event-alerts-alerting-config).

##<a id='example-workflow-webhook'></a> Example Workflow: Sending all Healthwatch alerts to a webhook

1. Create a webhook target named webhook-ops:

	```
	cf eva-create-target webhook-ops webhook http://example.com/healthwatch
	```

2. Verify that the target is created correctly with `cf eva-targets`.

3. Subscribe the newly created target to all healthwatch topics:

	```
	cf eva-subscribe webhook-ops healthwatch --all
	```

4. Publish a sample message to a healthwatch topic. This requires one of ("notifications.write", "cloud_controller.admin", "network.admin") scopes.

	```
	cf eva-sample-publish healthwatch system.healthy
	```

5. Verify a webhook message was posted to the webhook-ops URL (eg http://example.com/healthwatch)