<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
    <ul>
      <li>
        <a id='home-nav-link' href="/event-alerts-for-pcf/index.html">PCF Event Alerts (Beta for Healthwatch Tile)</a>
      </li>

      <li>
        <a href="/event-alerts-for-pcf/installing.html">Installing and Configuring PCF Event Alerts</a>
      </li>

      <li>
        <a href="/event-alerts-for-pcf/using.html">Using PCF Event Alerts</a>
      </li>

      <li>
        <a href="/event-alerts-for-pcf/troubleshooting.html">Troubleshooting PCF Event Alerts</a>
      </li>

      <li>
        <a href="/event-alerts-for-pcf/release-notes.html">Release Notes</a>
      </li>

      <li>
        <a href="/event-alerts-for-pcf/plugin.html">PCF Event Alerts Plugin</a>
      </li>
    </ul>
  </div>
</div><!--end of sub-nav-->
