---
title: Release Notes for PCF Event Alerts
owner: PCF Event Alerts
---

These are release notes for PCF Event Alerts.

##<a id="ver"></a> v1.0.0

**Release Date:** December 15, 2017

Features included in this release:

* Send an email to a specific CF user.
* Send emails to users within a specific CF space.

Fixed issues in this release:

* None - Initial release

Known issues in this release:

* None
